Repository SonarSource/sonarqube: changes, and which Cirrus tasks are due for each by the changed paths.
All: qa_saml, sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

qa_saml:
  depends_on: build
  gradle_cache:
    folder: ~/.gradle/caches
    fingerprint_script: find -type f \( -name "*.gradle*" -or -name "gradle*.properties" \) -exec cat {} +
  on_failure:
  ...

sql_mssql:
  depends_on: build
  gradle_cache:
    folder: ~/.gradle/caches
    fingerprint_script: find -type f \( -name "*.gradle*" -or -name "gradle*.properties" \) -exec cat {} +
  on_failure:
  ...

sql_postgres:
  depends_on: build
  gradle_cache:
    folder: ~/.gradle/caches
    fingerprint_script: find -type f \( -name "*.gradle*" -or -name "gradle*.properties" \) -exec cat {} +
  on_failure:
  ...

sql_postgres96:
  depends_on: build
  gradle_cache:
    folder: ~/.gradle/caches
    fingerprint_script: find -type f \( -name "*.gradle*" -or -name "gradle*.properties" \) -exec cat {} +
  on_failure:
  ...

sql_oracle12:
  depends_on: build
  gradle_cache:
    folder: ~/.gradle/caches
    fingerprint_script: find -type f \( -name "*.gradle*" -or -name "gradle*.properties" \) -exec cat {} +
  on_failure:
  ...

upgd_mssql:
  depends_on: build
  gradle_cache:
    folder: ~/.gradle/caches
    fingerprint_script: find -type f \( -name "*.gradle*" -or -name "gradle*.properties" \) -exec cat {} +
  on_failure:
  ...

upgd_oracle12:
  depends_on: build
  gradle_cache:
    folder: ~/.gradle/caches
    fingerprint_script: find -type f \( -name "*.gradle*" -or -name "gradle*.properties" \) -exec cat {} +
  on_failure:
  ...

SONAR-18845 Improve Projects Management page accessibility
  server/sonar-web/src/main/js/apps/projectsManagement/Header.tsx
  server/sonar-web/src/main/js/apps/projectsManagement/ProjectRow.css
  server/sonar-web/src/main/js/apps/projectsManagement/ProjectRow.tsx
  server/sonar-web/src/main/js/apps/projectsManagement/ProjectRowActions.tsx
  server/sonar-web/src/main/js/apps/projectsManagement/Search.tsx
  server/sonar-web/src/main/js/apps/projectsManagement/__tests__/ProjectManagementApp-it.tsx
  server/sonar-web/src/main/js/apps/projectsManagement/__tests__/__snapshots__/Header-test.tsx.snap
  server/sonar-web/src/main/js/apps/projectsManagement/__tests__/__snapshots__/ProjectRow-test.tsx.snap
  server/sonar-web/src/main/js/apps/projectsManagement/__tests__/__snapshots__/ProjectRowActions-test.tsx.snap
  server/sonar-web/src/main/js/apps/projectsManagement/__tests__/__snapshots__/Search-test.tsx.snap
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-18870 Add labels for qualifier and visibility filters in project management page
  server/sonar-web/src/main/js/apps/projectsManagement/Search.tsx
  server/sonar-web/src/main/js/apps/projectsManagement/__tests__/__snapshots__/Search-test.tsx.snap
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-18525 delete group, even if some local users are left inside
  server/sonar-db-dao/src/it/java/org/sonar/db/user/UserGroupDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserGroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserGroupMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/UserGroupMapper.xml
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/GroupService.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/usergroups/ws/GroupServiceTest.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18532 Add support for group membership PUT in /api/scim/v2/Groups
  server/sonar-db-dao/src/it/java/org/sonar/db/scim/ScimUserDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserQuery.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserDao.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/scim/ScimUserMapper.xml
  server/sonar-db-dao/src/testFixtures/java/org/sonar/db/user/UserDbTester.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18525 Support of DELETE verb for /api/scim/v2/Groups
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimGroupDaoTest.java
  server/sonar-db-dao/src/testFixtures/java/org/sonar/db/user/UserDbTester.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/DeleteActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/DeleteAction.java
Due: none

SONAR-18654 Component for indicating if instance is externally managed.
  server/sonar-server-common/src/main/java/org/sonar/server/management/DelegatingManagedInstanceService.java
  server/sonar-server-common/src/main/java/org/sonar/server/management/ManagedInstanceService.java
  server/sonar-server-common/src/test/java/org/sonar/server/management/DelegatingManagedInstanceServiceTest.java
  server/sonar-webserver/src/main/java/org/sonar/server/platform/platformlevel/PlatformLevel4.java
Due: none

SONAR-18525 ITs for SCIM groups (de)provisioning
  sonar-ws/src/main/java/org/sonarqube/ws/client/PutRequest.java
Due: none

SONAR-18656 Identify managed users and groups
  server/sonar-server-common/src/main/java/org/sonar/server/management/DelegatingManagedInstanceService.java
  server/sonar-server-common/src/main/java/org/sonar/server/management/package-info.java
  server/sonar-server-common/src/test/java/org/sonar/server/management/DelegatingManagedInstanceServiceTest.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/permission/ws/GroupsActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/permission/ws/UsersActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/SearchActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/SearchActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/UsersActionIT.java
  server/sonar-webserver-webapi/src/it/resources/org/sonar/server/permission/ws/UsersActionIT/users.json
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/permission/ws/GroupsAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/permission/ws/UsersAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/SearchAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/SearchAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/UsersAction.java
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/permission/ws/groups-example.json
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/permission/ws/users-example.json
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/user/ws/search-example.json
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/usergroups/ws/search-example.json
  server/sonar-webserver-webapi/src/main/resources/org/sonar/server/usergroups/ws/users-example.json
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/permission/ws/test.json
  sonar-ws/src/main/protobuf/ws-permissions.proto
  sonar-ws/src/main/protobuf/ws-user_groups.proto
  sonar-ws/src/main/protobuf/ws-users.proto
Due: none

SONAR-18525 fix POST support
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/DeleteActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/DeleteAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/GroupService.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/usergroups/ws/GroupServiceTest.java
Due: none

SONAR-18525 Support of PUT verb for /api/scim/v2/Groups/{groupId}
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/UpdateActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/GroupWsSupport.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/UpdateAction.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/usergroups/ws/GroupWsSupportTest.java
Due: none

SONAR-18525 Rely on GroupService instead of GroupSupport for PUT /api/scim/v2/Groups/{groupId} endpoint
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/CreateActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/DeleteActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/UpdateActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/CreateAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/GroupService.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/GroupWsSupport.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/UpdateAction.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/usergroups/ws/GroupServiceTest.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/usergroups/ws/GroupWsSupportTest.java
Due: none

SONAR-18532 Add support for group membership DELETE in /api/scim/v2/Groups
  server/sonar-db-dao/src/it/java/org/sonar/db/user/UserGroupDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserGroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserGroupMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/UserGroupMapper.xml
  server/sonar-db-dao/src/testFixtures/java/org/sonar/db/user/UserDbTester.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/DeleteActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/DeleteAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/GroupService.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/UserGroupsModule.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/usergroups/ws/GroupServiceTest.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/usergroups/ws/UserGroupsModuleTest.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18525 SCIM Group data model (Mapper, DTO, DAO, Migrations)
  server/sonar-db-core/src/main/java/org/sonar/db/version/SqTables.java
  server/sonar-db-dao/src/main/java/org/sonar/db/DaoModule.java
  server/sonar-db-dao/src/main/java/org/sonar/db/DbClient.java
  server/sonar-db-dao/src/main/java/org/sonar/db/MyBatis.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupDto.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/scim/ScimGroupMapper.xml
  server/sonar-db-dao/src/schema/schema-sq.ddl
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimGroupDaoTest.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v100/CreateScimGroupsTable.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v100/CreateUniqueIndexForScimGroupsUuid.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v100/DbVersion100.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v100/CreateScimGroupsTableTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v100/CreateUniqueIndexForScimGroupsUuidTest.java
  server/sonar-db-migration/src/test/resources/org/sonar/server/platform/db/migration/version/v100/CreateUniqueIndexForScimGroupsUuidTest/schema.sql
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18525 Support of DELETE verb for /api/scim/v2/Groups
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/scim/ScimGroupMapper.xml
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimGroupDaoTest.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18583 Condition on schema when dropping constraints
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/sql/DropMsSQLDefaultConstraintsBuilder.java
Due: none

SONAR-18654 add ability to check if instance is managed.
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/ManagedInstanceChecker.java
Due: none

SONAR-18654 Disable group creation when user auto provisioning is enable
  server/sonar-web/src/main/js/apps/groups/components/App.tsx
  server/sonar-web/src/main/js/apps/groups/components/Header.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/App-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/Header-test.tsx.snap
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-18654 Add managed provider in system/info endpoint
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/SystemInfoWriterModule.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/monitoring/CommonSystemInformation.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/monitoring/StandaloneSystemSection.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/monitoring/cluster/GlobalSystemSection.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/SystemInfoWriterModuleTest.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/monitoring/CommonSystemInformationTest.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/monitoring/StandaloneSystemSectionTest.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/monitoring/cluster/GlobalSystemSectionTest.java
Due: none

SONAR-18534 Support excludedAttributes=members for SCIM groups requests
  server/sonar-db-dao/src/it/java/org/sonar/db/scim/ScimUserDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserQuery.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/scim/ScimUserMapper.xml
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18534 Support filter=displayName eq "displayName"
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupQuery.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/scim/ScimGroupMapper.xml
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimGroupDaoTest.java
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimGroupQueryTest.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18654 Make system/info return optional values
  server/sonar-process/src/main/java/org/sonar/process/systeminfo/SystemInfoUtils.java
  server/sonar-server-common/src/testFixtures/java/org/sonar/server/platform/monitoring/SystemInfoTesting.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/monitoring/CommonSystemInformation.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/monitoring/StandaloneSystemSection.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/platform/monitoring/cluster/GlobalSystemSection.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/monitoring/CommonSystemInformationTest.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/monitoring/StandaloneSystemSectionTest.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/platform/monitoring/cluster/GlobalSystemSectionTest.java
Due: none

SONAR-18657 Do not use Elastic Search for /api/users/search
  server/sonar-db-dao/src/it/java/org/sonar/db/user/UserDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserQuery.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/UserMapper.xml
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/AnonymizeActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/SearchActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/SearchAction.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18708 add 'managed' property for users in the telemetry
  server/sonar-db-dao/src/it/java/org/sonar/db/user/UserDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserTelemetryDto.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/UserMapper.xml
  server/sonar-server-common/src/main/java/org/sonar/server/telemetry/TelemetryDataJsonWriter.java
  server/sonar-server-common/src/test/java/org/sonar/server/telemetry/TelemetryDataJsonWriterTest.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18689 add filtering by managed in /api/users/search
  server/sonar-db-dao/src/it/java/org/sonar/db/scim/ScimUserDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/UserQuery.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/UserMapper.xml
  server/sonar-server-common/src/main/java/org/sonar/server/management/DelegatingManagedInstanceService.java
  server/sonar-server-common/src/main/java/org/sonar/server/management/ManagedInstanceService.java
  server/sonar-server-common/src/test/java/org/sonar/server/management/DelegatingManagedInstanceServiceTest.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/SearchActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/SearchAction.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18657 allow filtering on isManaged for /api/user_groups/search
  server/sonar-db-dao/src/it/java/org/sonar/db/scim/ScimUserDaoIT.java
  server/sonar-db-dao/src/it/java/org/sonar/db/user/GroupDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/GroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/GroupMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/user/GroupQuery.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/user/GroupMapper.xml
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimGroupDaoTest.java
  server/sonar-server-common/src/main/java/org/sonar/server/management/DelegatingManagedInstanceService.java
  server/sonar-server-common/src/main/java/org/sonar/server/management/ManagedInstanceService.java
  server/sonar-server-common/src/test/java/org/sonar/server/management/DelegatingManagedInstanceServiceTest.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/SearchActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/SearchAction.java
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18655 Prevent account creation at login when the instance is managed
  server/sonar-webserver-auth/src/main/java/org/sonar/server/authentication/UserRegistrarImpl.java
  server/sonar-webserver-auth/src/main/java/org/sonar/server/authentication/UserRegistration.java
  server/sonar-webserver-auth/src/test/java/org/sonar/server/authentication/HttpHeadersAuthenticationTest.java
  server/sonar-webserver-auth/src/test/java/org/sonar/server/authentication/UserRegistrarImplTest.java
Due: none

SONAR-18689 Add Filters for all, local and managed users on user list
  server/sonar-web/src/main/js/api/mocks/UsersServiceMock.ts
  server/sonar-web/src/main/js/api/users.ts
  server/sonar-web/src/main/js/apps/users/Search.tsx
  server/sonar-web/src/main/js/apps/users/UsersApp.tsx
  server/sonar-web/src/main/js/apps/users/UsersList.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/UsersApp-it.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/UsersApp-test.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/UsersList-test.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/__snapshots__/UsersApp-test.tsx.snap
  server/sonar-web/src/main/js/apps/users/__tests__/__snapshots__/UsersList-test.tsx.snap
  server/sonar-web/src/main/js/apps/users/components/UserListItem.tsx
  server/sonar-web/src/main/js/apps/users/components/UserListItemIdentity.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/UserActions-test.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/UserGroups-test.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/UserListItem-test.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/UserListItemIdentity-test.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/__snapshots__/UserListItem-test.tsx.snap
  server/sonar-web/src/main/js/apps/users/components/__tests__/__snapshots__/UserListItemIdentity-test.tsx.snap
  server/sonar-web/src/main/js/apps/users/utils.ts
  server/sonar-web/src/main/js/helpers/testMocks.ts
  server/sonar-web/src/main/js/types/users.ts
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-18654 Disable user creation when user auto provisioning is enable
  server/sonar-web/src/main/js/api/mocks/UsersServiceMock.ts
  server/sonar-web/src/main/js/apps/create/project/__tests__/ManualProjectCreate-test.tsx
  server/sonar-web/src/main/js/apps/issues/__tests__/IssuesApp-it.tsx
  server/sonar-web/src/main/js/apps/settings/components/__tests__/Definition-it.tsx
  server/sonar-web/src/main/js/apps/users/Header.tsx
  server/sonar-web/src/main/js/apps/users/UsersApp.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/UsersApp-it.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/__snapshots__/Header-test.tsx.snap
  server/sonar-web/src/main/js/components/common/Link.tsx
  server/sonar-web/src/main/js/components/common/__tests__/Link-test.tsx
  server/sonar-web/src/main/js/components/controls/ValidationInput.tsx
  server/sonar-web/src/main/js/components/controls/__tests__/__snapshots__/ValidationInput-test.tsx.snap
  server/sonar-web/src/main/js/components/icons/Icon.tsx
  server/sonar-web/src/main/js/components/icons/QualifierIcon.tsx
  server/sonar-web/src/main/js/components/icons/SeverityIcon.tsx
  server/sonar-web/src/main/js/components/issue/components/IssueMessageTags.tsx
  server/sonar-web/src/main/js/components/ui/Alert.tsx
  server/sonar-web/src/main/js/components/ui/__tests__/__snapshots__/Alert-test.tsx.snap
  server/sonar-web/src/main/js/types/types.ts
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-18654 Lock users endpoints
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/CreateActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/DeactivateActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/UpdateActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/UpdateIdentityProviderActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/user/ws/UpdateLoginActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/CreateAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/DeactivateAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/UpdateAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/UpdateIdentityProviderAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/UpdateLoginAction.java
Due: none

SONAR-18654 prevent editing groups when instance is managed.
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/AddUserActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/CreateActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/DeleteActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/RemoveUserActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/usergroups/ws/UpdateActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/management/ManagedInstanceChecker.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/AddUserAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/CreateAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/DeleteAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/ManagedInstanceChecker.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/RemoveUserAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/UpdateAction.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/management/ManagedInstanceCheckerTest.java
Due: none

SONAR-18525 fixed few code smells
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/user/ws/UpdateIdentityProviderAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/usergroups/ws/GroupService.java
Due: none

SONAR-18662 Improve performance of group membership updates
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserDto.java
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimUserDtoTest.java
Due: none

NO-JIRA - rename isEnable to isAvailable for feature flag, as features can be available in an edition but not enabled.
  server/sonar-server-common/src/main/java/org/sonar/server/almsettings/MultipleAlmFeature.java
  server/sonar-server-common/src/main/java/org/sonar/server/feature/SonarQubeFeature.java
  server/sonar-server-common/src/main/java/org/sonar/server/loginmessage/LoginMessageFeature.java
  server/sonar-server-common/src/test/java/org/sonar/server/almsettings/MultipleAlmFeatureTest.java
  server/sonar-server-common/src/test/java/org/sonar/server/loginmessage/LoginMessageFeatureTest.java
  server/sonar-webserver-api/src/main/java/org/sonar/server/branch/BranchFeatureProxyImpl.java
  server/sonar-webserver-api/src/test/java/org/sonar/server/branch/BranchFeatureProxyImplTest.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almsettings/ws/CreateAzureActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almsettings/ws/CreateBitbucketActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almsettings/ws/CreateBitbucketCloudActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almsettings/ws/CreateGithubActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almsettings/ws/CreateGitlabActionIT.java
  server/sonar-webserver-webapi/src/it/java/org/sonar/server/almsettings/ws/UpdateGitlabActionIT.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/almsettings/ws/AlmSettingsSupport.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/feature/ws/ListAction.java
  server/sonar-webserver-webapi/src/main/java/org/sonar/server/setting/ws/LoginMessageAction.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/feature/ws/ListActionTest.java
  server/sonar-webserver-webapi/src/test/java/org/sonar/server/setting/ws/LoginMessageActionTest.java
Due: none

SONAR-18657 Add Filters for all, local and managed groups on groups list
  server/sonar-web/src/main/js/api/mocks/GroupsServiceMock.ts
  server/sonar-web/src/main/js/api/user_groups.ts
  server/sonar-web/src/main/js/apps/groups/components/App.tsx
  server/sonar-web/src/main/js/apps/groups/components/EditMembers.tsx
  server/sonar-web/src/main/js/apps/groups/components/Header.tsx
  server/sonar-web/src/main/js/apps/groups/components/List.tsx
  server/sonar-web/src/main/js/apps/groups/components/ListItem.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/App-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/DeleteForm-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/EditMembers-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/EditMembersModal-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/Form-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/GroupsApp-it.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/Header-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/List-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/ListItem-test.tsx
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/App-test.tsx.snap
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/DeleteForm-test.tsx.snap
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/EditMembers-test.tsx.snap
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/Form-test.tsx.snap
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/Header-test.tsx.snap
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/List-test.tsx.snap
  server/sonar-web/src/main/js/apps/groups/components/__tests__/__snapshots__/ListItem-test.tsx.snap
  server/sonar-web/src/main/js/apps/users/Header.tsx
  server/sonar-web/src/main/js/apps/users/UsersApp.tsx
  server/sonar-web/src/main/js/apps/users/UsersList.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/Header-test.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/UsersApp-it.tsx
  server/sonar-web/src/main/js/apps/users/__tests__/__snapshots__/Header-test.tsx.snap
  server/sonar-web/src/main/js/apps/users/components/UserActions.tsx
  server/sonar-web/src/main/js/apps/users/components/UserGroups.tsx
  server/sonar-web/src/main/js/apps/users/components/UserListItem.tsx
  server/sonar-web/src/main/js/apps/users/components/UserListItemIdentity.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/UserActions-test.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/UserGroups-test.tsx
  server/sonar-web/src/main/js/apps/users/components/__tests__/__snapshots__/UserActions-test.tsx.snap
  server/sonar-web/src/main/js/apps/users/components/__tests__/__snapshots__/UserGroups-test.tsx.snap
  server/sonar-web/src/main/js/helpers/testMocks.ts
  server/sonar-web/src/main/js/types/types.ts
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-18662 Improve Admin experience for SAML/SCIM configuration
  server/sonar-web/src/main/js/api/mocks/AuthenticationServiceMock.ts
  server/sonar-web/src/main/js/api/settings.ts
  server/sonar-web/src/main/js/apps/quality-profiles/styles.css
  server/sonar-web/src/main/js/apps/settings/components/DefinitionDescription.tsx
  server/sonar-web/src/main/js/apps/settings/components/DefinitionRenderer.tsx
  server/sonar-web/src/main/js/apps/settings/components/PageHeader.tsx
  server/sonar-web/src/main/js/apps/settings/components/SubCategoryDefinitionsList.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/Authentication.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/SamlAuthentication.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/SamlConfigurationForm.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/SamlFormField.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/SamlSecuredField.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/SamlToggleField.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/__tests__/Authentication-it.tsx
  server/sonar-web/src/main/js/apps/settings/components/authentication/hook/useLoadSamlSettings.ts
  server/sonar-web/src/main/js/apps/settings/styles.css
  server/sonar-web/src/main/js/components/controls/RadioCard.tsx
  server/sonar-web/src/main/js/helpers/mocks/definitions-list.ts
  server/sonar-web/src/main/js/types/features.ts
  server/sonar-web/src/main/js/types/settings.ts
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

SONAR-18759 introduce a new mechanism to activate SCIM
  server/sonar-auth-saml/src/main/java/org/sonar/auth/saml/SamlSettings.java
  server/sonar-db-dao/src/it/java/org/sonar/db/scim/ScimUserDaoIT.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimGroupMapper.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserDao.java
  server/sonar-db-dao/src/main/java/org/sonar/db/scim/ScimUserMapper.java
  server/sonar-db-dao/src/main/resources/org/sonar/db/scim/ScimGroupMapper.xml
  server/sonar-db-dao/src/main/resources/org/sonar/db/scim/ScimUserMapper.xml
  server/sonar-db-dao/src/test/java/org/sonar/db/scim/ScimGroupDaoTest.java
  server/sonar-webserver-core/src/main/java/org/sonar/server/telemetry/TelemetryDataLoaderImpl.java
  server/sonar-webserver-core/src/test/java/org/sonar/server/telemetry/TelemetryDataLoaderImplTest.java
Due: qa_saml, sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

SONAR-18797 warn log message and truncate scim_users during upgrade
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v100/DbVersion100.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v100/DropScimUserProvisioning.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v100/DropSonarScimEnabledProperty.java
  server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/v100/LogMessageIfSonarScimEnabledPresentProperty.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v100/DropScimUserProvisioningTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v100/DropSonarScimEnabledPropertyTest.java
  server/sonar-db-migration/src/test/java/org/sonar/server/platform/db/migration/version/v100/LogMessageIfSonarScimEnabledPresentPropertyTest.java
  server/sonar-db-migration/src/test/resources/org/sonar/server/platform/db/migration/version/v100/DropScimUserProvisioningTest/schema.sql
  server/sonar-db-migration/src/test/resources/org/sonar/server/platform/db/migration/version/v100/DropSonarScimEnabledPropertyTest/schema.sql
  server/sonar-db-migration/src/test/resources/org/sonar/server/platform/db/migration/version/v100/LogMessageIfSonarScimEnabledPresentPropertyTest/schema.sql
Due: sql_mssql, sql_postgres, sql_postgres96, sql_oracle12, upgd_mssql, upgd_oracle12

[NO JIRA] Bootstrap custom ESLint rules
  server/sonar-web/.eslintrc
  server/sonar-web/design-system/.eslintrc
  server/sonar-web/design-system/build.gradle
  server/sonar-web/design-system/eslint-local-rules/index.js
  server/sonar-web/design-system/package.json
  server/sonar-web/eslint-local-rules/__tests__/convert-class-to-function-component-test.js
  server/sonar-web/eslint-local-rules/__tests__/no-conditional-rendering-of-deferredspinner-test.js
  server/sonar-web/eslint-local-rules/__tests__/use-enum-test.js
  server/sonar-web/eslint-local-rules/__tests__/use-jest-mocked-test.js
  server/sonar-web/eslint-local-rules/convert-class-to-function-component.js
  server/sonar-web/eslint-local-rules/index.js
  server/sonar-web/eslint-local-rules/no-conditional-rendering-of-deferredspinner.js
  server/sonar-web/eslint-local-rules/use-enum.js
  server/sonar-web/eslint-local-rules/use-jest-mocked.js
  server/sonar-web/package.json
  server/sonar-web/yarn.lock
Due: none

SONAR-18731 The activity graph is out of sync with X axis
  server/sonar-web/src/main/js/components/charts/AdvancedTimeline.tsx
  server/sonar-web/src/main/js/components/charts/__tests__/__snapshots__/AdvancedTimeline-test.tsx.snap
Due: none

SONAR-18768 align the format of all page titles
  server/sonar-web/src/main/js/app/components/ComponentContainer.tsx
  server/sonar-web/src/main/js/app/components/FormattingHelp.tsx
  server/sonar-web/src/main/js/app/components/PluginRiskConsent.tsx
  server/sonar-web/src/main/js/app/components/ResetPassword.tsx
  server/sonar-web/src/main/js/app/components/__tests__/__snapshots__/FormattingHelp-test.tsx.snap
  server/sonar-web/src/main/js/app/components/__tests__/__snapshots__/PluginRiskConsent-test.tsx.snap
  server/sonar-web/src/main/js/app/components/__tests__/__snapshots__/ResetPassword-test.tsx.snap
  server/sonar-web/src/main/js/app/components/nav/component/Header.tsx
  server/sonar-web/src/main/js/app/components/nav/component/__tests__/__snapshots__/Header-test.tsx.snap
  server/sonar-web/src/main/js/apps/account/Account.tsx
  server/sonar-web/src/main/js/apps/account/profile/Profile.tsx
  server/sonar-web/src/main/js/apps/background-tasks/components/BackgroundTasksApp.tsx
  server/sonar-web/src/main/js/apps/background-tasks/components/__tests__/__snapshots__/BackgroundTasksApp-test.tsx.snap
  server/sonar-web/src/main/js/apps/change-admin-password/ChangeAdminPasswordAppRenderer.tsx
  server/sonar-web/src/main/js/apps/overview/components/App.tsx
  server/sonar-web/src/main/js/apps/projectBaseline/components/ProjectBaselineApp.tsx
  server/sonar-web/src/main/js/apps/projectBaseline/components/__tests__/__snapshots__/ProjectBaselineApp-test.tsx.snap
  server/sonar-web/src/main/js/apps/projectBranches/components/ProjectBranchesApp.tsx
  server/sonar-web/src/main/js/apps/projectBranches/components/__tests__/__snapshots__/ProjectBranchesApp-test.tsx.snap
  server/sonar-web/src/main/js/apps/projectDump/ProjectDumpApp.tsx
  server/sonar-web/src/main/js/apps/projectDump/__tests__/__snapshots__/ProjectDumpApp-test.tsx.snap
  server/sonar-web/src/main/js/apps/sessions/components/Login.tsx
  server/sonar-web/src/main/js/apps/sessions/components/Unauthorized.tsx
  server/sonar-web/src/main/js/helpers/testReactTestingUtils.tsx
  sonar-core/src/main/resources/org/sonar/l10n/core.properties
Due: none

Path conditions:
  qa_saml: any of: server/sonar-auth-saml/src/main/java/**/*.java, server/sonar-auth-saml/src/main/resources/**/*, server/sonar-db-dao/src/main/**/SAML*.java, private/it-core/src/test/java/org/sonarqube/tests/saml/*.java, server/sonar-webserver-webapi/src/main/java/org/sonar/server/saml/**/*.java
  sql_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java
  sql_postgres: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java
  sql_postgres96: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java
  sql_oracle12: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java
  upgd_mssql: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java
  upgd_oracle12: any of: server/sonar-db-dao/**/*Mapper.xml, server/sonar-db-migration/**/DbVersion*.java, server/sonar-db-dao/**/*Dao.java
